body {
    background-color: #0A1633; /* Cambia el color de fondo */
    font-family: GARAMOND, sans-serif; /* Cambia el tipo de letra */
    color: #FAF9F6; /* Cambia el color del texto principal */
}

/* 2. Estilizando el título principal */
h1 {
    color: #FAF9F6; /* Un tono azul oscuro */
    text-align: center; /* Centra el texto */
    margin-top: 50px; /* Le da espacio arriba */
}

/* 3. Estilizando los párrafos */
p {
    font-size: 18px; /* Tamaño de la letra */
    line-height: 1.6; /* Espaciado entre líneas */
    max-width: 600px;
    margin: 0 auto; /* Centra el bloque del párrafo */
}